<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.likai.dao.CheckGroupDao">

    <insert id="add" parameterType="CheckGroup">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_checkgroup(code,name,sex,helpCode,remark,attention)
            values
      	(#{code},#{name},#{sex},#{helpCode},#{remark},#{attention})
    </insert>

    <select id="findById" parameterType="integer" resultType="CheckGroup">
        select * from t_checkgroup where id = #{id}
    </select>

    <insert id="setCheckGroupAndCheckItem" parameterType="hashMap">
        insert into t_checkgroup_checkitem(checkgroup_id,checkitem_id)
      		values
      	(#{checkgroup_id},#{checkitem_id})
    </insert>

    <select id="selectByCondition" parameterType="string" resultType="CheckGroup">
        select * from t_checkgroup
        <if test="value != null and value !=''">
            where code = #{value} or `name` = #{value} or helpCode = #{value}
        </if>
    </select>

    <delete id="deleteAssociation" parameterType="int">
        delete from t_checkgroup_checkitem where checkgroup_id = #{id}
    </delete>

    <update id="edit" parameterType="checkGroup">
        update t_checkgroup
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="helpCode != null">
                helpCode = #{helpCode},
            </if>
            <if test="attention != null">
                attention = #{attention},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="findAll" resultType="checkGroup">
        select * from t_checkgroup
    </select>

    <delete id="delete" parameterType="integer">
        delete from t_checkgroup where `id` = #{id}
    </delete>

</mapper>